CBORObject to JSON String difficulties

When converting a CBORObject to a JSON String, strings consisting of hexadecimal bytes transform to some weird strings in the JSON. I noticed that changing the JSONOptions doesn't really do much and the code just looks for tags in the respective inner CBORObjects.

`h'796257F1EFF073C1A30AB990EA3C8A8BEF607D46D20FA5D053DB743081215C2E'`
transforms to `"eWJX8e_wc8GjCrmQ6jyKi-9gfUbSD6XQU9t0MIEhXC4"` regardless of the JSONOptions.

Am I doing something wrong or does the issue lie within your code?

Edit: I noticed that when I exchange `_` and `-` with `/` and `+`, it becomes a legitimate Base64 decoding. Is there any reason you use `_-`?

The behavior you describe is documented in the `ToJSONString(JSONOptions)` method:

> Byte strings are converted to Base64 URL without whitespace or padding by default (see section 4.1 of RFC 7049). A byte string will instead be converted to traditional base64 without whitespace and with padding if it has tag 22, or base16 for tag 23.

Base64url is slightly different from traditional Base64 in the manner you found (see RFC 4648).